

.h1 {
    transition: opacity 0.5s ease; 
    opacity: 1;
    justify-self: center;
  }
  
  .hidden {
    opacity: 0; 
  }
  .hero-main{
    margin: 0 auto;
    display: flex;
    justify-content: right;
    max-width: 1280px;
  }
  .hero{
    margin-top: 45px;
    border-radius: 25px;
    padding: 15px;
    width: 750px;
    backdrop-filter: blur(25px);
  }
  .h2{
    justify-self: center;
    font-weight: 700;   
}
  .hero p{
    font-weight: 500;
  }
  .btn{
    padding: 10px;
    margin-left: 500px;
    font-family: "Roboto Slab", serif;
    background-color: #FFA500;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
    font-weight: 600;
    width: 200px;
 }
 .btn:hover{
    background-color: #FFC107;
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(255, 215, 0, 0.5);
 }